<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Jumanch</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <footer>
        <div class="footer__desarrollado">Desarrollado por Iván Sáez Rodrigo ©</div>
        <div class="footer__logo"><span class="logo">Team Jumanch</span></div>
        <div class="footer__links"><span><a href="#">Política de cookies</a></span><span><a href="#">Contacto</a></span><span><a href="#">Configuración de cookies</a></span><span><a href="#">Politica de privacidad</a></span><span><a href="#">Términos y condiciones de uso</a></span></div>
    </footer>
</body>
</html>