<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Jumanch</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <!-- Nav admin -->
        <nav>
            <a href="#"><span>Donde estamos</span></a>
            <a href="#"><span>Miembros</span></a>
            <a href="#"><span>Mensajes</span></a>
            <a href="#"><span>Contacto</span></a>
            <a href="#"><span class="logo">TEAM JUMANCH</span></a>
            <a href="#"><span>Eventos</span></a>
            <a href="#"><span>Nuevo evento</span></a>
            <a href="#"><span>Cuenta</span></a>
            <a href="#"><span>Cerrar sesión</span></a>
        </nav>
        <!--  -->

        <!-- Nav usuario logueado -->
        <nav>
            <a href="#"><span>Donde estamos</span></a>
            <a href="#"><span>Miembros</span></a>
            <a href="#"><span>Contacto</span></a>
            <a href="#"><span class="logo">TEAM JUMANCH</span></a>
            <a href="#"><span>Eventos</span></a>
            <a href="#"><span>Cuenta</span></a>
            <a href="#"><span>Cerrar sesión</span></a>
        </nav>
        <!--  -->


        <!-- Nav usuario des logueado -->
        <nav>
            <a href="#"><span>Donde estamos</span></a>
            <a href="#"><span>Miembros</span></a>
            <a href="#"><span>Contacto</span></a>
            <a href="#"><span class="logo">TEAM JUMANCH</span></a>
            <a href="#"><span>Eventos</span></a>
            <a href="#"><span>Cuenta</span></a>
            <a href="#"><span id="nav__registrarse">Registrarse</span></a>
        </nav>
        <!--  -->

        


    </header>
</body>
</html>